/* 投稿一覧ページ */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.post-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.post-item h3 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.post-item p {
    font-size: 14px;
    color: #555;
}

.post-item img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.post-item .btn-view-details {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.post-item .btn-view-details:hover {
    background-color: #45a049;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* 詳細ページ */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #006f8e;
}
